iframe[src*="object.center/premium"] {
    display: none !important;
}

body{
    background-color: #151f27;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    transition: all 0.1s;
}