iframe[src*="object.center/premium"] {
    display: none !important;
}

body{
    background-color: #151f27;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    transition: all 0.1s;
}

.scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #2d2d2d;
    border-radius: 10px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #176B87; 
    border-radius: 10px;
    border: 2px solid transparent;
  }